.about-page {
  h1 {
    font-family: Coolvetica;
    font-weight: 400;
    font-size: 50px;
    color: #ffd700;
    position: relative;

    &::before {
      content: "<h1>";
      font-family: La Belle Aurore;
      font-size: 18px;
      position: absolute;
      margin-top: -10px;
      left: -10px;
      opacity: 0.6;
    }

    &::after {
      content: " </h1>";
      font-family: La Belle Aurore;
      font-size: 18px;
      position: absolute;
      margin-bottom: -10px;
      bottom: 0;
      left: -10px;
      opacity: 0.6;
      line-height: 10px;
    }
  }

  p {
    font-size: 14px;
    font-family: sans-serif;
    animation: pulse 1s;
    color: #fff;
    letter-spacing: 0.8px;
    line-height: 1.7;
    word-spacing: 1px;
    margin-bottom: 1rem;

    &:nth-of-type(1) {
      animation-delay: 1.2s;
    }
    &:nth-of-type(2) {
      animation-delay: 1.3s;
    }
    &:nth-of-type(3) {
      animation-delay: 1.4s;
    }
  }

  .string-animate-hover {
    &:hover {
      color: #fff;
    }
  }
}

.stage-cube {
  min-height: 60vh;
  width: 300px;
}

.cubespinner {
  animation: spincube 12s ease-in-out infinite;
  transform-style: preserve-3d;
  transform-origin: 100px 100px 0;
  margin-left: calc(50% - 100px);

  div {
    position: absolute;
    padding: 0.5rem;
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.4);
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 0px lightyellow;
  }
  .face1 {
    transform: translateZ(100px);
  }
  .face2 {
    transform: rotateY(90deg) translateZ(100px);
  }
  .face3 {
    transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
  }
  .face4 {
    transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
  }
  .face5 {
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
  }
  .face6 {
    transform: rotateX(-90deg) translateZ(100px);
  }
  .face7 {
    transform: rotateX(-90deg) translateY(0px);
  }
}

@keyframes spincube {
  from,
  to {
    transform: rotateX(90deg) rotateZ(-90deg) rotateZ(0deg);
  }
  16% {
    transform: rotateY(-90deg);
  }
  33% {
    transform: rotateY(-90deg) rotateZ(90deg);
  }
  50% {
    transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    transform: rotateY(-270deg) rotateZ(90deg);
  }
  83% {
    transform: rotateX(90deg);
  }
  93% {
    transform: rotateZ(-90deg);
  }
}
