.card-container {
  @for $i from 0 through 20 {
    .animate-card._#{$i} {
      opacity: 0;
      animation: fadeInUp 1.7s forwards;
      animation-delay: #{calc($i + 0.3 / 0.7)}s;
    }
  }
}

.project-card {
  max-width: 300px;
  max-height: 450px;
  position: relative;
  border-radius: 10px;
  padding: 5px;

  img {
    border-radius: 10px;
  }
}

.modal-container {
  animation: fadeInUp 0.8s forwards;
}

.modal-details {
  margin: 0 auto;
  background-color: #ffffff;
  top: 5%;
  max-height: 70vh;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: #06162e;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #504f4f;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  img {
    width: 98%;
    margin: 0 auto;
    border-radius: 10px;
  }

  p {
    font-size: 1.2rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.4rem;
    font-weight: 600;
  }
}
