.home-page {
  min-height: 80vh;
  h1 {
    font-family: "Coolvetica";
    font-weight: 400;
    line-height: 65px;

    &::before {
      content: "<h1>";
      font-family: "La Belle Aurore";
      color: #ffd700;
      position: absolute;
      margin-top: -40px;
      font-size: 1.3rem;
      opacity: 0.6;
    }

    &::after {
      content: "</h1>";
      font-family: "La Belle Aurore";
      color: #ffd700;
      position: absolute;
      font-size: 1.3rem;
      margin-left: 20px;
      animation: fadeIn 1s 1.5s backwards;
      opacity: 0.6;
    }

    img {
      opacity: 0;
      animation: rotateIn 1s 1.2s linear both;
    }
  }

  h2 {
    letter-spacing: 3px;
    margin-top: 1.2rem;
    animation: fadeIn 1s 2s backwards;
  }

  .cta-btn {
    animation: fadeIn 1s 1.8s backwards;
    white-space: nowrap;
  }
}

.profile-img {
  opacity: 0;

  animation: profile 0.8s ease-in-out 1.2s forwards;
}

@keyframes profile {
  0% {
    opacity: 0;
    scale: 1.1;
  }
  50% {
    opacity: 0.5;
    scale: 1.15;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
