@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

body {
  color: #444;
  background-color: #06162e;
  overflow: hidden;
  display: block;
}

.active {
  color: #ffd700;
}
