@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

body {
  color: #444;
  background-color: #06162e;
  overflow: hidden;
  display: block;
}

.active {
  color: #ffd700;
}

.off-screen {
  position: absolute;
  left: -10000px;
}

/* @property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.project-card::after,
.project-card::before {
  content: "";
  height: calc(100% + 10px);
  width: calc(100% + 10px);
  position: absolute;
  background-image: conic-gradient(
    from var(--angle),
    transparent 70%,
    rgb(14, 99, 99)
  );
  border-radius: 10px;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 1rem;
   animation: spin 3s linear infinite;
}

.project-card::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
} 
*/
